---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure>
    <h2>Hi, I'm Daniel.</h2><p>Full Stack developer with <strong>10+ years</strong> of experience in <strong>JS/TypeScript, PHP, HTML, CSS/Sass</strong>.</p><p>My main focus at the moment is on <strong>React, React Native, Gatsby, NextJS, Laravel, Symfony</strong></p><p>Currently I'm working with people from small and medium companies launch or expand their ideas/projects at my own digital agency <a href="https://dabanny.com"><strong>dabanny.com</strong></a>.</p><p>I'm also a part of the team behind an exciting sport platform that facilitates all parties in the sport service delivery process – providers and users <a href="https://sportpoint.bg"><strong>sportpoint.bg</strong></a>.</p><p>Previously at Clippings.com, PFSWeb (LiveArea Europe), EPAM, Powerty, Cog Graphics.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
