---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Daniel Georgiev personal site";
const description = "Personal blog of Daniel Georgiev.";
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="hero-image-container">
    <picture>
      <source srcset="/assets/avatar.jpg" media="(min-width: 600px)" />
      <img
        class="hero-image"
        alt="Illustration of person reading a book"
        src="/assets/avatar.jpg"
        width="550"
        height="466"
      />
    </picture>
  </div>
  <div class="container">
    <h2>Hi, I'm Daniel.</h2>
    <p>
      Full Stack developer with <strong>12+ years</strong> of experience in <strong
        >JS/TypeScript, PHP, HTML, CSS/Sass</strong
      >.
    </p>
    <p>
      My main focus at the moment is on <strong
        >React, React Native, NextJS, Laravel</strong>
    </p>
    <p>
      Currently I'm running my own consulting practice at <a
        href="https://dabanny.com"
        ><strong>dabanny.com</strong>
      </a>.
    </p>
    <p>
      I'm also a part of the team behind an exciting sport platform that
      facilitates all parties in the sport service delivery process – providers
      and users <a href="https://sportpoint.bg"
        ><strong>sportpoint.bg</strong>
      </a>.
    </p>
    <p>
      Previously at Clippings.com, PFSWeb (LiveArea Europe), EPAM, Powerty, Cog
      Graphics.
    </p>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: center;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
