/* https://coolors.co/cfdbd5-ebede8-96f47f-242423-333533 palette */
body {
  margin: 0;
  width: 100%;
  background-color: #ebede8;
  border-top: 4px solid #cfdbd5;
  color: #333;
}

a {
  color: #242423;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  border: none;
  background: #96f47f;
  margin: 1em 0;
  padding: 0.4em 0.8em;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  background-color: #6ff050;
  cursor: pointer;
}

label {
  display: block;
}

fieldset {
  padding: 1em;
}

pre {
  max-width: 100%;
  white-space: normal;
}

.layout {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2em 0;
}
