@import "variables";

$nav-breakpoint: 650px;

.header {
    width: 100%;
    max-width: 1616px;
    margin: 0 auto 2em;
    padding: 0 2em;

    text-align: center;

    @media screen and (min-width: $nav-breakpoint) {
        display: flex;
        justify-content: space-between;
        align-content: center;

        padding: 1em 2em;

        text-align: left;
    }
}

.logo {
    margin: 0 0 0.4em;

    a {
        text-decoration: none;
    }

    @media screen and (min-width: $nav-breakpoint) {
        margin-bottom: 0;
    }

    img {
        &:last-child {
            display: none;
        }
    }
    .inverted & {
        img {
            &:last-child {
                display: block;
            }
            &:first-child {
                display: none;
            }
        }
    }
}

.navigation {
    font-size: 20px;
    font-weight: 400;

    a {
        margin: 0 0.2em;
        padding: 0.6em 0.2em;

        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-decoration: none;

        &:last-child {
            margin-right: 0;
            padding-right: 0;
        }

        &:hover,
        &.active {
            color: $color-3;
            border-bottom: 1px solid $color-3;
        }

        @media screen and (min-width: $nav-breakpoint) {
            margin: 0 1em;
            padding: 0.2em 0;
        }
    }

    [data-reach-menu-button] {
        vertical-align: middle;

        margin: 0;
        padding: 0;

        font-size: 2em;

        background: none;
        border: 0;
        color: inherit;

        &:hover {
            background: none;
        }
    }

    .inverted & {
        a {
            &:hover,
            &.active {
                color: $color-1;
                border-color: $color-1;
            }
        }
    }
}
