@import "variables";

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    width: 100%;

    font-family: proxima-nova, sans-serif;
    // border-top: 4px solid $color-1;
}

a {
    color: $color-2;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    border: none;
    background: $color-3;
    margin: 1em 0;
    padding: 0.4em 0.8em;
}

button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
    background-color: darken($color-3, 10);
    cursor: pointer;
}

label {
    display: block;
}

fieldset {
    padding: 1em;
}

pre {
    max-width: 100%;
    white-space: normal;
}

footer {
    display: flex;
    justify-content: space-between;
}

.layout {
    width: 100%;
    min-height: 100vh;

    background-color: $color-1;
    color: $color-2;

    transition: background-color 600ms ease-in-out;

    .container {
        width: 100%;
        min-height: 100vh;
        padding: 1em 0;
        max-width: 1616px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &.inverted {
        background-color: $color-3;
        color: $color-1;
    }
}

.home {
    height: 100%;

    font-size: 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        max-width: 800px;
    }
}

.header + div {
    flex: 1;
    display: flex;
}
